# ---------------- Stepper Configs ----------------

# |----------------------|
# |        BACKPACK      |
# |----------------------|
# |------          ------|
# |Z1-M2|          |M5-Z2|
# | ------          -----|
# |Y-M2|           |M3-X1|
# |                      |
# |                      |
# |                      |
# |---              -----|
# | X-M1|          |M4-Y1|
# |----------------------|
# |------           ---- |
# |Z-M3 |          |M4-Z3|
# |------   DOOR    ---- |



[stepper_x]
##  Y Stepper - Left Back
##  Connected to MOTE1
step_pin: MOTE1_STEP
dir_pin: MOTE1_DIR
enable_pin: !MOTE1_EN
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x:virtual_endstop
#endstop_pin:MOTE1_DIAG
position_min: -1
position_endstop: 354
position_max: 354
homing_speed: 100
homing_retract_dist: 0
homing_positive_dir: true
[tmc5160 stepper_x]
cs_pin: MOTE1_CS
spi_software_miso_pin: SPI_MISO
spi_software_mosi_pin: SPI_MOSI
spi_software_sclk_pin: SPI_SCK
diag1_pin: ^!MOTE1_DIAG
interpolate:false
run_current: 1.2
sense_resistor: 0.022
stealthchop_threshold: 0
driver_SGT: 1

[stepper_x1]
##  X1 Stepper - Right Back
##  Connected to MOTY
step_pin: MOTY_STEP
dir_pin: MOTY_DIR
enable_pin: !MOTY_EN
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x1:virtual_endstop
#endstop_pin:MOTY_DIAG
[tmc5160 stepper_x1]
cs_pin: MOTY_CS
spi_software_miso_pin: SPI_MISO
spi_software_mosi_pin: SPI_MOSI
spi_software_sclk_pin: SPI_SCK
diag1_pin: ^!MOTY_DIAG
interpolate:false
run_current: 1.2
sense_resistor: 0.022
stealthchop_threshold: 0
driver_SGT: 1


[stepper_y]
##  X Stepper - Left Front
##  Connected to MOTE2
step_pin: MOTE2_STEP
dir_pin: MOTE2_DIR
enable_pin: !MOTE2_EN
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_y:virtual_endstop
#endstop_pin:MOTE2_DIAG
position_min: -5
position_endstop: 350
position_max: 350
homing_speed: 100
homing_retract_dist: 0
homing_positive_dir: true
[tmc5160 stepper_y]
cs_pin: MOTE2_CS
spi_software_miso_pin: SPI_MISO
spi_software_mosi_pin: SPI_MOSI
spi_software_sclk_pin: SPI_SCK
diag1_pin: ^!MOTE2_DIAG
interpolate:false
run_current: 1.2
sense_resistor: 0.022
stealthchop_threshold: 0
driver_SGT: 1

[stepper_y1]
##  Y1 Stepper - Right Front
##  Connected to MOTX
step_pin: MOTX_STEP
dir_pin: !MOTX_DIR
enable_pin: !MOTX_EN
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_y1:virtual_endstop
#endstop_pin:MOTX_DIAG
[tmc5160 stepper_y1]
cs_pin: MOTX_CS
spi_software_miso_pin: SPI_MISO
spi_software_mosi_pin: SPI_MOSI
spi_software_sclk_pin: SPI_SCK
diag1_pin: ^!MOTX_DIAG
interpolate:false
run_current: 1.2
sense_resistor: 0.022
stealthchop_threshold: 0
driver_SGT: 1


# ---------------- Z Stepper Configs ----------------
[stepper_z]
step_pin: MOT3_STEP
dir_pin: MOT3_DIR
enable_pin: !MOT3_EN
rotation_distance: 58.85
gear_ratio: 50:1
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
position_max: 340
position_min: -2
homing_speed: 5.0
#second_homing_speed: 5.0
homing_positive_dir: false
[tmc2209 stepper_z]
uart_pin: MOT3_CS
interpolate: false
run_current: 0.6
sense_resistor: 0.150
stealthchop_threshold: 0


[stepper_z1]
step_pin: MOT2_STEP
dir_pin: !MOT2_DIR
enable_pin: !MOT2_EN
rotation_distance: 58.85
gear_ratio: 50:1
microsteps: 32
full_steps_per_rotation: 200
[tmc2209 stepper_z1]
uart_pin: MOT2_CS
interpolate: false
run_current: 0.6
sense_resistor: 0.150
stealthchop_threshold: 0

[stepper_z2]
step_pin: MOT5_STEP
dir_pin: !MOT5_DIR
enable_pin: !MOT5_EN
rotation_distance: 58.85
gear_ratio: 50:1
microsteps: 32
full_steps_per_rotation: 200
[tmc2209 stepper_z2]
uart_pin: MOT5_CS
interpolate: false
run_current: 0.6
sense_resistor: 0.150
stealthchop_threshold: 0

[stepper_z3]
step_pin: MOT4_STEP
dir_pin: MOT4_DIR
enable_pin: !MOT4_EN
rotation_distance: 58.85
gear_ratio: 50:1
microsteps: 32
full_steps_per_rotation: 200
[tmc2209 stepper_z3]
uart_pin: MOT4_CS
interpolate: false
run_current: 0.6
sense_resistor: 0.150
stealthchop_threshold: 0

[extruder]
step_pin: MOT1_STEP
dir_pin: !MOT1_DIR
enable_pin: !MOT1_EN
microsteps: 16
full_steps_per_rotation: 200
#rotation_distance: 4.637
rotation_distance: 22.6789511
gear_ratio: 5:1 
microsteps: 16
full_steps_per_rotation: 200
[tmc2209 extruder]
uart_pin: MOT1_CS
interpolate: false
run_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 0
