[board_pins GTR_M5]
mcu: mcu
aliases:
  #GTR
  MOTX_STEP= PC15,  MOTX_DIR= PF0,   MOTX_EN= PF1,   MOTX_CS= PC14,  MOTX_DIAG= PF2,
  MOTY_STEP= PE3,   MOTY_DIR= PE2,   MOTY_EN= PE4,   MOTY_CS= PE1,   MOTY_DIAG= PC13,
  MOTZ_STEP= PB8,   MOTZ_DIR= PC7,   MOTZ_EN= PB9,   MOTZ_CS= PB5,   MOTZ_DIAG= PE0,
  MOTE0_STEP= PG12, MOTE0_DIR= PG11, MOTE0_EN= PG13, MOTE0_CS= PG10, MOTE0_DIAG= PG14,
  MOTE1_STEP= PD6,  MOTE1_DIR= PD5,  MOTE1_EN= PD7,  MOTE1_CS= PD4,  MOTE1_DIAG= PG9,
  MOTE2_STEP= PD1,  MOTE2_DIR= PD0,  MOTE2_EN= PD2,  MOTE2_CS= PC12, MOTE2_DIAG= PD3,
  #M5
  MOT1_STEP= PF3,  MOT1_DIR= PG3,  MOT1_EN= PF8,  MOT1_CS= PG4,   MOT1_DIAG= PI4,
  MOT2_STEP= PD14, MOT2_DIR= PD11, MOT2_EN= PG2,  MOT2_CS= PE15,  MOT2_DIAG= PF4,
  MOT3_STEP= PE12, MOT3_DIR= PE10, MOT3_EN= PF14, MOT3_CS= PE7,   MOT3_DIAG= PF6,
  MOT4_STEP= PG0,  MOT4_DIR= PG1,  MOT4_EN= PE8,  MOT4_CS= PF15,  MOT4_DIAG= PI7,
  MOT5_STEP= PH12, MOT5_DIR= PH15, MOT5_EN= PI0,  MOT5_CS= PH14,  MOT5_DIAG= PF12,
  #TH
  BED = PC0, T0 = PC1, T1 = PC2, T2 = PC3,
  TEMP_M1 = PA3, TEMP_M2 = PF9, TEMP_M3 = PF10, TEMP_M4 = PF7, TEMP_M5 = PF5,
  #FAN
  FAN0 = PE5, FAN1 = PE6, FAN2 = PC8,
  FAN_M1 = PI5, FAN_M2 = PE9, FAN_M3 = PE11, FAN_M4 = PC9, FAN_M5 = PE14,
  #RGB  
  RGB = PF13,
  #HEATER
  HEAT0 = PB1, HEAT1 = PA1, HEAT2 = PB0, 
  HEAT_M1 = PD15, HEAT_M2 = PD13, HEAT_M3 = PD12, HEAT_M4 = PE13, HEAT_M5 = PI6,
  #SPI
  SPI_MISO = PB6, 
  SPI_MOSI = PG15,
  SPI_SCK = PB3,
  #ENDSTOP
  ES_SW1 = PI11, ES_SW2 = PH6

