[safe_z_home]
home_xy_position: 175, 175 # update for your machine
z_hop: 5

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
serial: /dev/serial/by-id/usb-Cartographer_614e_1B0005801243304146393320-if00
#canbus_uuid: <blank>
restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 15.4 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 15.4 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 300
horizontal_move_z: 5
mesh_min: 40, 40 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 310, 310 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
cs_pin:cartographer:PA3 # For Cartographer V3
#cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points: 175, 175, 20

[quad_gantry_level]
gantry_corners:
   -55,-59
   475,481
points: #  Probe points
   40,40
   40,290
   290,290
   290,40
#-------------------------------------------------------
speed:300
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.009
max_adjust:5
