[output_pin SHUTDOWND_AFTER_PRINT_END]
pin: FAN_M2
pwm: false
value: 0

[idle_timeout]
timeout: 3600
gcode:
    _CASELIGHT_OFF
    TURN_OFF_HEATERS
    SET_PIN PIN=LED1 VALUE=0.1
    M84
    AUTOSHUT_CHEK

[output_pin BTT_RELAY]
pin: tinyfan:G1
value: 1

[delayed_gcode shutdown_host]
gcode:
     {action_call_remote_method("shutdown_machine")}
initial_duration: 0.0

[gcode_macro POWEROFF]
description: Shutdown host and power off printer
gcode:
 #{% if printer.idle_timeout.state == 'Idle' %}
   {action_respond_info("Power off")}
   M84
   UPDATE_DELAYED_GCODE ID=shutdown_host DURATION=1
 #{%endif%}


[gcode_macro AUTOSHUT_OFF]
gcode:
  SET_PIN pin=SHUTDOWND_AFTER_PRINT_END value=0
  SET_LED LED="tinyfan" RED=0 GREEN=1 BLUE=0 SYNC=0 TRANSMIT=1
  {action_respond_info("Autoshut off")}

[gcode_macro AUTOSHUT_ON]
gcode:
  SET_PIN pin=SHUTDOWND_AFTER_PRINT_END value=1
  SET_LED LED="tinyfan" RED=0 GREEN=0 BLUE=1 SYNC=0 TRANSMIT=1
  {action_respond_info("Autoshut on")}

[gcode_macro AUTOSHUT_CHEK]
gcode:
    {% if printer["output_pin SHUTDOWND_AFTER_PRINT_END"].value|float == 1 %}
        {action_respond_info("Autoshut is enable")}
        POWEROFF
    {% else %}
        {action_respond_info("Autoshut is disable")}
    {% endif %}

#[gcode_button POWER_BUTTON]
#pin = !PWR_BTN
#press_gcode:
#  POWEROFF
