#[temperature_sensor Chamber]
#sensor_type: Generic 3950 #EPCOS 100K B57560G104F#NTC 100K beta 3950#Trianglelab NTC100K B3950 #ATC Semitec 104GT-2 #
#sensor_pin: T1
#min_temp: -100
#max_temp: 80
#gcode_id: C


#[filament_motion_sensor ERCFSFMS]
#switch_pin: PI11
#pause_on_runout: False
#detection_length: 20
#extruder: extruder
#runout_gcode: sensor_runout

[gcode_macro sensor_runout]
gcode:
    { action_respond_info("Filament Runout") }
#    PAUSE
